
@import url("https://fonts.googleapis.com/css?family=Mukta&display=swap" rel="stylesheet");
body
{
	font-family: 'Mukta', sans-serif;
}

h1,h2,h3,h4,h5,p
{
	line-height: 1.6;
}



$primary-color:#20639b ;
$secondary-color:#173f5f;